:root{
	--color-bg: rgb( 0 0 0);
	--color-txt: rgb( 255 255 255);
	--color-petal: rgba(150,200,255,0.6);
}

@font-face {
	font-family: "Fantasma";
	src:
	  url("../fonts/Fantasma-Regular.ttf") format("truetype");
  }

body{
	display: flex;
	flex-direction: column;
	/*background-image: url("http://hyperreal.org/raves/spirit/images/smoverl.gif");*/
	background: rgb(255,94,94);
	background: radial-gradient(circle, rgba(255,94,94,1) 0%, rgba(52,52,255,1) 15%, rgba(85,86,229,1) 15%, rgba(203,208,134,1) 23%, rgba(176,180,156,1) 25%, rgba(249,255,97,1) 33%, rgba(89,208,228,1) 44%, rgba(1,190,241,1) 44%, rgba(116,216,206,1) 51%, rgba(52,255,0,1) 52%, rgba(255,255,0,1) 71%, rgba(255,248,86,1) 71%, rgba(255,188,69,1) 80%, rgba(255,77,220,1) 80%, rgba(255,77,220,1) 96%, rgba(255,85,144,1) 96%);
	margin: 0;
	height: 100vh;
	align-items: center;
	text-align: center;
}

a {
	color: white;
}

main {
	max-width: 100%;
	display: flex;
	flex-direction: row;
	margin: auto;
}

.flyer-box {
	max-height: 100%;
	max-width: 100%;
	font-family: Fantasma;
	font-size: 3vw;
	background: black;
	color: white;
	padding: 3px 6px;
}